{
    startmoney = 10000
    max_town_distance = 100
    buildings = [
        {
            name = inn
            price = 200
            properties = {   
            }
        }
        {
            name = shop
            price = 200
            properties = {
                GenerateMoney = 50.0
            }
        }
    ]
}
