{
    startmoney = 10000
    buildings = [
        {
            name = hut
            price = 50
            components = [
            ]
        }
        {
            name = inn
            price = 200
            components = [
            ]
        }
        {
            name = inn
            price = 1000
            components = [
            ]
        }
        {
            name = barrel
            price = 10
            components = [
            ]
        }
        {
            name = tree
            price = 5
            components = [
            ]
        }
    ]
    grounds = [
        {
            name = road
            price = 10
        }
    ]
}