{
    startmoney = 10000
    max_town_distance = 100
    buildings = [
        {
            name = hut
            price = 50
        }
        {
            name = test_building
            price = 200
        }
        {
            name = roof1
            price = 200
        }
        {
            name = facade1
            price = 200
        }
        {
            name = inn
            price = 1000
        }
        {
            name = barrel
            price = 10
        }
        {
            name = tree
            price = 5
        }
    ]
}
