{
    sample_factor = 3
    sample_distance = 2
    num_cells = 16
    biomes = [
        {
            name = water
            quantity = 0.55
            blocking = 1
            vegetation = [
            ]
        }
        {
            name = sand2
            quantity = 0.0075
            blocking = 0
            vegetation = [
                {
                    name = bones
                    quantity = 0.0001
                }
            ]
        }
        {
            name = grass
            quantity = 0.2
            blocking = 0
            vegetation = [
                {
                    name = tree
                    quantity = 0.08
                }
                {
                    name = tree2
                    quantity = 0.01
                }
                {
                    name = bush
                    quantity = 0.01
                }
            ]
        }
        {
            name = earth2
            quantity = 0.2425
            blocking = 0
            vegetation = [
            ]
        }
    ]
}