{
    sample_factor = 3
    sample_distance = 8
    num_cells = 16
    elevations = [
        {
            quantity = 0.54
            blocking = 1
            blend = 0
            biomes = [
                {
                    name = water
                    temperature_max = 100
                    vegetation = [
                    ]
                }
            ]
        }
        {
            quantity = 0.0175
            blocking = 0
            blend = 1
            biomes = [
                {
                    name = sand2
                    temperature_max = 100
                    vegetation = [
                        {
                            name = bones
                            quantity = 0.0001
                        }
                    ]
                }
            ]
        }
        {
            quantity = 0.15
            blocking = 0
            blend = 1
            biomes = [
                {
                    name = snow
                    temperature_max = 30
                    vegetation = [
                    ]
                }
                {
                    name = grass
                    temperature_max = 70
                    vegetation = [
                        {
                            name = tree_small
                            quantity = 0.08
                        }
                        {
                            name = tree_big
                            quantity = 0.01
                        }
                        {
                            name = bush1
                            quantity = 0.01
                        }
                        {
                            name = bush2
                            quantity = 0.01
                        }
                        {
                            name = bush3
                            quantity = 0.01
                        }
                    ]
                }
                {
                    name = sand
                    temperature_max = 100
                    vegetation = [
                    ]
                }
            ]
        }
        {
            quantity = 0.01
            blocking = 0
            blend = 1
            biomes = [
                {
                    name = earth2
                    temperature_max = 100
                    vegetation = [
                    ]
                }

            ]
        }
        {
            quantity = 0.2825
            blocking = 0
            blend = 0
            biomes = [
                {
                    name = earth2
                    name_wall = mountain_wall
                    max_height = 32
                    wall_height = 2
                    temperature_max = 100
                    vegetation = [
                    ]
                }

            ]
        }
    ]
}
