{
    items = [
        {
            name = Research1
            description = This$is$a$description$for$Research1.
            cost = 100
            max_progress = 10
        }
        {
            name = Research2
            description = This$is$a$description$for$Research2.
            cost = 10
            max_progress = 5
        }
    ]
}
