{
    resolution = {
        width = 1600
        height = 900
        fullscreen = 0
    }
    mapsize = {
        width = 2048
        height = 2048
    }
    tilesize = {
        width = 16
        height = 16
    }
    keys = {
        moveup = Up
        movedown = Down
        moveright = Right
        moveleft = Left
        zoomin = WheelUp
        zoomout = WheelDown
        quit = Q
    }
    movespeed = 20
    infinite_scrolling = 1
}
