{
    resolution = {
        width = 3000
        height = 1400
        fullscreen = 0
    }
    mapsize = {
        width = 4096
        height = 4096
    }
    tilesize = {
        width = 16
        height = 16
    }
    keys = {
        moveup = Up
        movedown = Down
        moveright = Right
        moveleft = Left
        zoomin = WheelUp
        zoomout = WheelDown
        quit = Q
    }
    movespeed = 20
    infinite_scrolling = 1
    colors = {
        button_topleft = 0xFF000096
        button_bottomright = 0xFF000096
        button_border = 0xFFC8C8C8
        button_selected = 0xFFAAAA00
        box_topleft = 0xFF000096
        box_bottomright = 0xFF000020
        box_border = 0xFFC8C8C8
    }
    use_fast_renderer = 0
}
