{
    resolution = {
        width = 1280
        height = 720
        fullscreen = 0
    }
    mapsize = {
        width = 1024
        height = 1024
    }
    tilesize = {
        width = 16 
        height = 16
    }
    keys = {
        moveup = Up
        movedown = Down
        moveright = Right
        moveleft = Left
        zoomin = WheelUp
        zoomout = WheelDown
        quit = Q
    }
    movespeed = 100
}
